.App {
  text-align: center;
  min-height: 100vh;
}
.head-bar {
  display: flex;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
  height: 4rem;
  border-style: solid;
  border-bottom-width: 1px;
  border-color: rgba(237, 242, 247,1);
}
